html {
    background-color: #fff;
}
h1 {
    font-family:'Lobster Two', cursive;
    font-size: 60px;
    color: #FF584D;
    margin-bottom: 10px;
    margin-top: -10px
}
h2 {
    font-family:'Lobster Two', cursive;
    color: #6D8925;
    margin: 30px;
}
p {
    font-family: 'Raleway', sans-serif;
}
a {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    font-weight: bold;
    margin: 30px;
}
.nav { 
    background-color:#6D8925;
    color: white;
    font-size: 30px;
    height: 45px;
    position: fixed;
    width: 100%;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

body, html {
    margin: 0;
    padding: 0;
    outline: none;
    border:0;
}

.nav-links { 
    color: white;
    float: right;  
}

#banner {
    margin-top: 50px;
    max-width: 100% !important;
    height: auto;
}

#logo {
    font-family:'Lobster Two', cursive;
    color: white;
    margin-left: 20px;
}

#star {
    color: red;

}

form {
    font-family: 'Raleway', sans-serif;  
}

table {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
}

.page-body {
    margin-left: 30px;
    margin-right: 30px;
}

.nav-links a:link {
    color: #FFF;
}

/*nav-links styling*/
.nav-links a:link {
    color: #FFF;
}

.nav-links a:visited {
    color: #C7FF4D;
}

.nav-links a:hover {
    color: #FF958D;
}

.nav-links a:active {
    color: #FFF;
}

/*@media styling*/
@media screen and (max-width: 500px) {
    .nav-links { 
        color: white;
        float: right;
        font-size:20px;
        margin-top:10px;
    }
    .nutrition {
        margin-left: 5%;
        margin-right: 5%;
    }
    table img {
        max-width: 50% !important;
        height: auto;
    }
    table ul {
        font-size: 15px;
    }
}
